
<!DOCTYPE html>

<html>
  <head>
    <title> Breaks </title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/break.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<center>
    <h1>Breaks</h1>
    <p>
      You have a 2 hour break from 12:30 AM to 2:30 PM.<br/> You can: Run, Swim, Paint. 
    </p>
    <p>

      You have a 3 hour break from 4:30 PM to 7:30 PM. <br/>You can: Run, Swim, Paint, Hike. 
    </p>







        
        <a href= "tasker"><button>Home</button></a>
            <a href= "hobbies"><button>Breaks</button></a>
            <!--<a href= "settings"><button>Settings</button></a>-->
            <a href ="inputTasks"><button>Hobbies</button></a>
      </center>
    </body>
</html>