<!DOCTYPE html>
<html>
  <head>
    <title> Tasker </title>
    <center><u><h1>Tasker</h1></u>
      <h2>Login</h2>
    </center>

    <link rel="stylesheet" type= "text/css" href="css/login.css">
  </head>
    <body>
      <center>
        <div class= "information">
        <p> Username </p>
        <input type="text" name="name" id="name" value="" />
        <p> Password </p>
        <input type="text" name="password" id="password" value="" />
        <p> Phone Number </p><input type="text" name="number" id="number" value="" />
    </div>

        <a href= "tasker"><button> Login </button></a>
            <br><br>
      </center>
    </body>
</html>