<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/inputTasks.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<center>
		<p>Input Task</p>
		
   <form>
    <p> Title <input type="text" name="name" id="name" value="" /> </p>
  <p>
    Date <input type="text" date="date" id="date" value="" />
  </p>

<div class="container">
                                            
  <div class="dropdown">
  
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Start Time
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">9 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">9 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11 PM</a></li>
    </ul>

  </div>
</div>

<div class="container">
                                            
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">End Time
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">9 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11 AM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">9 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 PM</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11 PM</a></li>
    </ul>
  </div>
</div>

<div class="container">
                                            
  <div class="dropdown">
  
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Repeat
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">None</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Once a Week</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Everyday</a></li>
  </div>
</div>
<input type="button" onclick="location.href='tasker';" value="Done" />
</form>
<a href= "tasker"><button>Home</button></a>
        <a href= "hobbies"><button>Hobbies</button></a>
        <a href= "settings"><button>Settings</button></a>
        <a href= "inputTasks"><button>Tasks</button></a>
</center>
</body>
</html>
