<!DOCTYPE html>
<html>
  <head>
    <title> KeepInMind2 </title>
    

    <link rel="stylesheet" type= "text/css" href="css/TaskerStyle.css">
  </head>
  <body>
    <center>

      <h1> Welcome to KeepInMind </h1>
    
      <p> KeepInMind is an app that helps you be more aware of your free time and your passions. Input your hobbies, constraints and breaks and allow KeepInMind to help be mindful of what you love to do and the constraints that come along with those hobbies. </p> 
      
     
      <a href="inputHobbies"><button>Input Hobbies</button></a>
      <a href="hobbies"><button>View Hobbies</button></a>
       <a href="inputBreaks"><button>Input Breaks</button></a>
      <a href="resources"><button>Further Resources</button></a>

    </center>

    <!--Google Analytics-->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92787718-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>