<!DOCTYPE html>
<html>
  <head>
    <title> Settings </title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/settings.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
    <body>
      <center>
        <p> ***Settings*** </p>
       <div style="white-space:nowrap;">
        <!-- <p> Push Notification</p> -->

        <!-- Rounded switch -->
        <label class="switch">Push notification 
            <input type="checkbox">
            <div class="slider round"></div>
        </label>
      </div>


        
        <a href= "tasker"><button>Home</button></a>
            <a href= "hobbies"><button>Hobbies</button></a>
            <a href= "settings"><button>Settings</button></a>
            <a href ="inputTasks"><button>Tasks</button></a>
      </center>
      
      <!--Google Analytics-->
    
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-92787718-1', 'auto');
        ga('send', 'pageview');
      </script>
    </body>
</html>