<!DOCTYPE html>
<html>
  <head>
    <title> Settings </title>
  </head>
  	<body>
  		<center>
  			<p> ***Insert Settings Page Here*** </p>
  			<a href= "tasker"><button>Home</button></a>
       		<a href= "hobbies"><button>Hobbies</button></a>
        	<a href= "settings"><button>Settings</button></a>
        <a href= "inputTasks"><button>Tasks</button></a>
  		</center>
  	</body>
</html>