<!DOCTYPE html>
<html>
  <head>
    <title> TaskerB </title>
    

    <link rel="stylesheet" type= "text/css" href="css/TaskerStyle.css">
  </head>
  <body>
    <center>

      <h1> Welcome to Tasker </h1>
    
      <p> Tasker is an app that helps you be more aware of your free time and your passions. Input your hobbies and tasks, and allow Tasker to help be mindful of what you love to do and when you have
        time to achieve those hobbies </p> 
      
      <a href="hobbies"><button>Input Breaks</button></a>
      <a href="inputTasks"><button>Input Hobbies</button></a>
      <a href="breaks"><button>View Hobbies</button></a>
    </center>

    <!--Google Analytics-->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92787718-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>