body{
	background-color:lightblue;
	padding:40px;
}
a{
	font-size:20pt;

}
button{
	color:white;
	background-color:black;
	font-size:150%;
	
}
h1{
	font-size:400%;
	color:white;
}
p{
	padding:20px;
	color:black;
	font-size:150%;
	text-align:left;
}


#taskInformation{
    text-align: left;
    background-color:white;
    border-radius:5%;
    border-width:10pt;

}
h2{
	text-align: left;
	font-color:darkblue;
}
.topButtons{
	position:fixed;
	top:0;
	text-align: center;
	width:100%;
	left:0;
}
/*.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}*/
.navbar-inverse{
	background-color:black;
}
