body{
	background-color:lightblue;
	padding:40px;
}
a{
	text-align:bottom;
	position:bottom;

}
button{
	color:white;
	background-color:black;
	font-size:150%;
	
}
h1{
	font-size:400%;
	color:white;
}
p{
	padding:20px;
	color:black;
	font-size:150%;
	text-align:left;
}

#taskInformation{
    text-align: left;
}
h2{
	text-align: left;
	color:darkblue;
}
