h1{
	text-align:center;
	font-size:300%;
	color:white;
	
	padding-bottom:10%;
}
form{text-align:center}
/*.container{padding: 40px};*/
body {
	padding: 40px;
	background-color:lightblue;
}
.form-group{
	font-size:20pt;
}
.form-control{
	padding-top:7%;
	padding-bottom:7%;
}

button{
	
	font-size:300%;
	color:white;
	background-color:black;
	border-style:solid;
	border-color:white;
	border-spacing:15pt;
}
#submitBtn{
	font-size:150%;
	background-color:black;
	color:white;
	border-style:solid;
	border-color:white;

}
#range{
	font-size:80%;
	font-style:bold;
	font-style:italic;
	padding-bottom:20%;
}
.friend-wrapper{
	
}
a{
	border-spacing:10pt;
}
#footer {
   position:relative;
   bottom:0;
   width:100%;
   height:20px;
   font-size:50%;
   padding-left:20%;
   padding-right:10%;

}