h1{
	text-align:center;
	font-size:300%;
	color:white;
	
	padding-bottom:10%;
}
form{text-align:center}
/*.container{padding: 40px};*/
body {
	padding: 40px;
	background-color:lightblue;
}
.form-group{
	font-size:200%;
}
button{
	padding-top:50%
	font-size:300%;
	color:white;
	background-color:black;
	border-style:solid;
	border-color:white;
}
#submitBtn{
	font-size:150%;
	background-color:black;
	color:white;
	border-style:solid;
	border-color:white;
}