h1{
    text-align:center;
    font-size:300%;
    color:white;
    
    padding-bottom:10%;
}

body {
    padding: 40px;
    background-color:lightblue;
}

button{
    /*padding-top:50%*/
    font-size:150%;
    color:white;
    background-color:black;
    border-style:solid;
    border-color:white;
    position:relative;
}

/*    height: 100%;
}*/

#doneBtn {
    font-size:150%;
    background-color:black;
    color:white;
    border-style:solid;
    border-color:white;
}

#submitBtn{
    font-size:150%;
    background-color:black;
    color:white;
    border-style:solid;
    border-color:white;
}
#inputTaskForm{
    padding:5%;
    padding-bottom:7%;
}
/* Dropdown Button */
p{
    text-align:left;
    font-size:14pt;
    font-style:bold;
}
