body {
    background-color: lightblue;
}

h1 {
	font: "Times New Roman";
	color: white;
}

a {
	color: black;
	font-size: 30px;
	padding-left: 20px;
	text-decoration: none;
	width:120px;
	height:200px;
}


